.global {
  width: 100vw;
  box-sizing: border-box;

  .global_body {
    width: 100%;
    box-sizing: border-box;

    .inner {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0px;
      text-align: left;
    }
  }
}
