.title {
    font-weight: 600;
    font-size: rem(12px);
    line-height: rem(14px);
    color: var(--color-dark-8);
    display: flex;
    flex-direction: row;
    gap: rem(4px);
    font-family: 'Inter', sans-serif;
}

.description {
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(14px);
    color: var(--color-dark-2);
    display: flex;
    flex-direction: row;
    gap: rem(4px);
    font-family: 'Inter', sans-serif;
}