.switch {
  & * {
    cursor: pointer;
  }
}

.link {
  cursor: pointer;
  padding: var(--mantine-spacing-xs);
  margin-left: calc(-1 * var(--mantine-spacing-xs));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
