.container {
    font-size: 18px;
    line-height: 20px;
    margin-inline: initial;

    .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: var(--color-dark-8);
        display: flex;
        flex-direction: row;
        gap: 4px;
        font-family: "Inter", sans-serif;
    }

    .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: var(--color-dark-2);
        display: flex;
        flex-direction: row;
        gap: 4px;
        font-family: "Inter", sans-serif;
    }
    .content {
        margin-left: 60px;
    }
}
